/* Color Fader */
.faderbody {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    width: 180px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.05);
}

.fader {
    display: flex;
    flex-flow: column;
    align-items: center;
    border-radius: var(--border-radius);
    width: 100%;
    height: 90%;
    user-select: none;
}

.fader .colorscale {
    background: none;
    background-image: linear-gradient(var(--from-color), var(--to-color));
    width: 50px;
    height: 100%;
    padding: 0;
    user-select: none;
}

.fader .fadescale {
    display: flex;
    flex-direction: row;
    background: none;
    width: 100px;
    height: 100%;
    padding: 0;
    user-select: none;
}

.fader .fadescale .center {
    background-color: var(--primary-color);
    margin-left: 45px;
    width: 10px;
    height: 100%;
}

.fader .fadescale .label {
    color: var(--primary-color);
    display: flex;
    padding-left: 10px;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-top: 5px;
}

.fader .fadecolorhead {
    background: none;
    position: absolute;
    align-self: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 30px;
    border: solid 5px rgb(121, 121, 121);
    padding: 0;
    user-select: none;
}

.fader.fadehead {
    background: none;
    position: absolute;
    align-self: center;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(121, 121, 121);
    width: 80px;
    height: 30px;
    padding: 0;
    user-select: none;
}

.fader .fadeattr {
    background: none;
    flex-flow: column;
    align-self: center;
    padding: 0;
    text-align: center;
    user-select: none;
    height: 30px;
}

/* Button Container */
.section {
    justify-self: stretch;
    margin: auto;
    margin-top: 0;
    margin-left: 0;
    padding: 15px;
    user-select: none;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, 0.05);
}

.buttonsection {    
    background: none;
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    gap: 15px;
    
    width: 100%;
    height: 100%;
}

.simplebutton {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    width: 150px;
    height: 150px;
    border-radius: var(--border-radius);
    background-color: rgba(255, 255, 255, 0.05);
    word-break: break-word;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
}

.simplebutton .material-icons {
    text-align: center;
    font-size: 30px;
}

.simplebutton:hover {
    color: var(--primary-color);
    border-radius: var(--border-radius);
}

.simplebutton.selected {
    color: var(--primary-color);
    background-color: rgba(254, 222, 125, 0.2);
}

@media only screen and (max-width: 600px) {
    .faderbody {
        height: 100px;
        width: 100%;
    }

    .fader {
        height: 60%;
        width: 90%;
        padding: 0;
        justify-content: center;
    }

    .fader .colorscale {
        background-image: linear-gradient(90deg, var(--from-color), var(--to-color));
        width: 100%;
        height: 25px;
    }

    .fader .fadescale {
        flex-direction: column;
        width: 100%;
        height: 60px;
    }

    .fader .fadescale .center {
        margin-top: 28px;
        margin-left: 0;
        width: 100%;
        height: 5px;
    }
    .fader .fadescale .label {
        flex-direction: row;
        padding-left: 0;
    }

    .fader .fadecolorhead {
        width: 20px;
        height: 50px;
        margin-top: 0;
        justify-self: center;
        align-self: flex-start;
    }

    .fader .fadehead {
        width: 20px;
        height: 50px;
        margin-top: 0;
        justify-self: center;
        align-self: flex-start;
    }
    
    .fader .fadeattr, .fader.fadeattr {
        height: 20%;
    }

    .buttonsection {    
        justify-content: space-evenly
    }

    .simplebutton {
        width: 100px;
        height: 100px;
        font-size: 16px;
    }
}